/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root */

:root {
    --primary: #3563E9;
    --secondary-500: #1A202C;
    --secondary-400: #596780;
    --secondary-300: #90A3BF;
    --information: #54A6FF;
    --footer-text: rgba(19, 19, 19, 0.6);
}

.clear {
    clear: both;
}

/* My Style */
body {
    font-size: 1.2rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

input::placeholder{
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Header */
.header {
    margin: 30px 6%;
}

.header .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .top-bar h1 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary);
}

.header .top-bar .search {
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    margin-left: -500px;
}

.header .extra-bar {
    display: none;
}


.header .top-bar .search .icon {
    scale: 0.8;
}

.header .top-bar .search .icon:hover {
    scale: 0.75;
}

.header .top-bar .icon {
    transition: 300ms;
}

.header .top-bar .icon {
    cursor: pointer;
}

.header .top-bar .search input {
    border: none;
    width: 270px;
    padding: 0 5px;
    color: var(--secondary-500);
}

.header .top-bar .search input:focus {
    outline: none;
}

.header .top-bar .profile-notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}

.header .top-bar .profile-notification .icon {
    border: 1px solid var(--secondary-300);
    border-radius: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.header .top-bar .profile-notification .icon img {
    scale: 0.8;
}

.header .top-bar .profile-notification .icon .notification-dot {
    content: "";
    position: absolute;
    top: 37px;
    background-color: rgba(255, 68, 35, 1);
    width: 8.5px;
    height: 8.5px;
    margin-left: 20px;
    border-radius: 50%;
}

.header .top-bar .profile-notification .icon:nth-child(2) {
    border: 1px solid var(--secondary-300);
}

.header .top-bar .profile-notification .profile:hover {
    cursor: pointer;
}

/* Container Content */
.container {
    display: flex;
    background-color: rgba(246, 247, 249, 1);
}

.container label {
    cursor: pointer;
}

/* Navbar Side */
.navbar-side {
    width: 25%;
    background-color: #fff;
    min-height: 100%;
    margin-top: 5px;
}

.navbar-side input[type="range"] {
    height: 13px;
    width: 85%;
    -webkit-appearance: none;
    background-color: var(--secondary-300);
    border-radius: 10px;
    overflow: hidden;
}

.navbar-side input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color: var(--primary);
    cursor: pointer;
    border: 3px solid #fff;
    box-shadow: -407px 0 0 400px var(--primary);
    position: relative;
    z-index: 1;
}

.navbar-side h3 {
    color: var(--secondary-300);
    font-size: 0.8rem;
    margin: 20px 0;
}

.navbar-side a {
    color: var(--secondary-500);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.navbar-side span {
    color: var(--secondary-400);
    font-size: 1rem;
}

.navbar-side .selection {
    margin-bottom: 15px;
}

.navbar-side .type,
.navbar-side .capacity, 
.navbar-side .price {
    margin-bottom: 25px;
    margin-left: 10%;
}

.navbar-side .price p {
    font-size: 1.1rem;
    margin-top: 15px;
    color: var(--secondary-400);
    font-weight: 600;
}

/* Content */
.content {
    padding: 0 6% 0 2%;
    overflow: hidden;
    width: 75%;
}

/* Pick Drop */
.pick-drop {
    margin-top: 30px;
}

.pick-drop .pick-drop-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pick-drop .pick-drop-group .row1,
.pick-drop .pick-drop-group .row2 {
    background-color:#fff;
    border-radius: 10px;
    padding: 30px 15px 30px 40px;
}

.pick-drop .pick-drop-group .row1 .mark,
.pick-drop .pick-drop-group .row2 .mark {
    margin-bottom: -2px;
    margin-right: 5px;
}

.pick-drop .pick-drop-group .card {
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.pick-drop p {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: rgba(26, 32, 44, 1);
    font-weight: 600;
}

.pick-drop .pick-drop-group .card h1 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: rgba(26, 32, 44, 1);
    font-weight: 700;
}

.pick-drop .pick-drop-group .card p {
    font-size: 0.8rem;
    margin-bottom: 5px;
    margin-right: 20px;
    color: var(--secondary-300);
    cursor: pointer;
}

.pick-drop .pick-drop-group .card img {
    cursor: pointer;
}

.pick-drop .pick-drop-group .card div {
    padding-right: 25px;
}

.pick-drop .pick-drop-group .card .location, 
.pick-drop .pick-drop-group .card .date {
    border-right: 1px solid rgba(195, 212, 233, 0.6);
}

.pick-drop .pick-drop-group .card .date, 
.pick-drop .pick-drop-group .card .time {
    padding-left: 25px;
}

.pick-drop .pick-drop-group .icon {
    background-color: var(--primary);
    scale: 0.8;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pick-drop .pick-drop-group .icon:hover {
    scale: 0.75;
}

/* Catalog Car */

/* Recomendation */

.catalog-car .recomendation-car {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-car .recomendation-car .card {
    width: 255px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    padding: 30px 25px;
    margin-bottom: 25px;
}

.catalog-car .recomendation-car .card .header-card h1 {
    font-size: 1.2rem;
    color: var(--secondary-500);
    font-weight: 700;
    margin-bottom: 10px;
}

.heart-fill {
    background-image: url(../assets/icon/Like.png);
    float: right;
    margin-top: -30px;
    cursor: pointer;
    width: 23px;
    height: 23px;
}

.catalog-car .recomendation-car .card .header-card .like {
    float: right;
    margin-top: -30px;
    cursor: pointer;
    background-image: url(../assets/icon/Like-1.png);
    width: 23px;
    height: 23px;
}

.catalog-car .recomendation-car .card .header-card p {
    font-size: 0.9rem;
    color: var(--secondary-300);
    font-weight: 700;
}

.catalog-car .recomendation-car .card .image-car {
    margin: 35px 0 30px;
    cursor: pointer;
}

.catalog-car .recomendation-car .card .image-car .shadow {
    position: relative;
    z-index: 2;
    top: 85px;
}

.catalog-car .recomendation-car .card .image-car .car {
    position: relative;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.catalog-car .recomendation-car .card .spesification {
    display: flex;
    justify-content: space-between;
}

.catalog-car .recomendation-car .card .spesification div {
    display: flex;
    align-items: center;
}

.catalog-car .recomendation-car .card .spesification p {
    font-size: 0.9rem;
    margin-left: 5px;
    color: var(--secondary-300);
}

.catalog-car .recomendation-car .card .footer-card {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.catalog-car .recomendation-car .card .footer-card h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--secondary-500);
}

.catalog-car .recomendation-car .card .footer-card span {
    font-size: 0.9rem;
    color: var(--secondary-400);
}

.catalog-car .recomendation-car .card .footer-card .strike {
    text-decoration: line-through;
}

.catalog-car .recomendation-car .card .footer-card button {
    padding: 15px 20px;
    background-color: var(--primary);
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 300ms;
}

.catalog-car .recomendation-car .card .footer-card button:hover {
    scale: 0.95;
}

/* Show More */

.show-more {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 70px;
}

.show-more button {
    padding: 15px 20px;
    background-color: var(--primary);
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 300ms;
}

.show-more button:hover {
    scale: 0.95;
}

.number-of-cars {
    position: relative;
    bottom: 100px;
    float: right;
    font-size: 0.9rem;
    color: var(--secondary-300);
}

/* Footer */
.footer {
    background-color: #fff;
    padding: 70px 6% 0;
}

.footer .group {
    display: flex;
    justify-content: space-between;
}

.footer .group .logo {
    width: 30%;
}

.footer .group .logo h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--primary);
}

.footer .group .logo p {
    font-size: 1rem;
    line-height: 1.4rem;
    color: rgba(19, 19, 19, 0.6);
}

.footer .group .link {
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer .group .link h2 {
    margin-bottom: 30px;
    color: var(--secondary-500);
    font-size: 1.2rem;
    font-weight: 600;
}

.footer .group .link a {
    display: block;
    margin-bottom: 25px;
    text-decoration: none;
    color: rgba(19, 19, 19, 0.6);
    font-size: 1rem;
}

.footer .line {
    height: 1px;
    background-color: var(--secondary-300);
}

.footer .copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--secondary-500);
    font-size: 1rem;
    font-weight: 600;
    padding: 35px 0;
}

.footer .copyright p:nth-child(2) {
    margin-right: -400px;
}

.footer .copyright p:nth-child(4) {
    display: none;
}

.footer .copyright p {
    cursor: pointer;
    margin-bottom: 20px;
}

.footer .copyright p:nth-child(4) {
    width: 100%;
}

/* Media Queries */

/* Extra Large */
@media ( max-width: 1200px ){
    html {
        font-size: 90%;
    }

    .header .top-bar .search {
        margin-left: -200px;
    }

    .catalog-car .recomendation-car {
        justify-content: space-evenly;
    }
}

/* Laptop */
@media ( max-width: 992px ){
    .header .top-bar .search {
        margin-left: -50px;
    }

    .header .top-bar .search input {
        width: 200px;
    }

    .pick-drop .pick-drop-group {
        display: inline-block;
        justify-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
    }

    .pick-drop .pick-drop-group .icon {
        width: 7%;
        position: relative;
        z-index: 999;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .pick-drop .pick-drop-group .row1 {
        position: relative;
        top: 20px;
    }

    .pick-drop .pick-drop-group .row2 {
        position: relative;
        bottom: 20px;
    }

    .footer .copyright p:nth-child(2) {
        margin-right: -200px;
    }
}

/* Tablet */
@media ( max-width: 768px ){
    .content {
        width: 100%;
    }

    .header .top-bar .search {
        margin-left: 0;
    }

    .header .top-bar .profile-notification {
        width: 150px;
    }

    .header .top-bar .profile-notification .icon:nth-child(1) {
        display: none;
    }
    
    .navbar-side {
        display: none;
    }

    .footer .copyright p:nth-child(2) {
        margin-right: -100px;
    }
}

/* Mobile Phone */
@media ( max-width: 576px ){
    html {
        font-size: 82.5%;
    }

    .header .top-bar .search {
        display: none;
    }

    .header .top-bar .profile-notification {
       justify-content: end;
    }

    .header .top-bar .profile-notification .icon:nth-child(2),
    .header .top-bar .profile-notification .icon:nth-child(3) {
        display: none;
    }

    .pick-drop .pick-drop-group .row1,
    .pick-drop .pick-drop-group .row2 {
        padding: 30px 15px;
    }

    .pick-drop .pick-drop-group .card .date, 
    .pick-drop .pick-drop-group .card .time {
        padding-left: 25px;
    }

    .pick-drop .pick-drop-group .card div {
        padding: 0 25px;
        text-align: center;
    }

    .pick-drop .pick-drop-group .card p {
        display: none;
    }

    /* Extra Bar */
    .header .extra-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    .header .extra-bar .search-bar {
        border: 1px solid rgba(195, 212, 233, 0.4);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 10px;
        width: 73%;
    }

    .header .extra-bar .search-bar .icon {
        cursor: pointer;
    }

    .header .extra-bar .filter-icon {
        border: 1px solid rgba(195, 212, 233, 0.4);
        padding: 7px 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .header .extra-bar .search-bar input {
        border: none;
        width: 100%;
        padding-left: 10px;
    }

    .header .extra-bar .search-bar input:focus {
        outline: none;
    }

    .content {
        padding: 0 6%;
    }

    .catalog-car .recomendation-car .card {
        width: 100%;
        overflow: hidden;
    }

    .catalog-car .recomendation {
        margin-top: 30px;
    }

    .catalog-car .recomendation-car .card .group {
        display: flex;
        justify-content: space-between;
    }

    .catalog-car .recomendation-car .card .image-car {
        width: 70%;
        scale: 0.7;
        margin-top: 80px;
        margin-left: -20px;
    }

    .catalog-car .recomendation-car .card .spesification {
        display: block;
        margin-top: 30px;
        width: 30%;
    }

    .catalog-car .recomendation-car .card .image-car .shadow {
        display: none;
    }

    .catalog-car .recomendation-car .card div {
        margin-bottom: 30px;
    }
    
    .footer .group {
        display: inline-block;
    }

    .footer .group .logo {
        width: 70%;
    }

    .footer .group .link {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .footer .group .link div {
        width: 50%;
    }

    .footer .copyright p:nth-child(1) {
        display: none;
    }

    .footer .copyright p:nth-child(4) {
        display: inline-block;
    }

    .footer .copyright p {
        width: 50%;
    }

    .footer .copyright p:nth-child(3) {
        text-align: right;
    }
}